@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
}

img {
    height: 450px;
    width: 300px;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.item {
    margin: 10px;
    background-image: linear-gradient(#ECE2E1, #D3E0DC, #AEE1E1);
    display: flex;
    flex: 40%;
    border-radius: 20px;
}

.item:hover {
    background-image: linear-gradient(#AEE1E1, #ECE2E1, #D3E0DC)
}

.left,
.right {
    flex: 25%;
}

.left {
    padding: 20px;
}

​ @media (max-width: 800px) {
    img {
        margin: auto;
    }


    .left,
    .right {
        flex: 100%;
    }

    .mainPage {
        padding-top: 100px;
    }

}



@media (max-width: 600px) {

    .item {
        flex-direction: column;
    }

    .left,
    .right {
        flex: 50%;
        padding: 0;
    }

    .item .left {
        padding: 40px 0 0 30px;
    }

    .container {
        padding: 0;
    }

    .item .right {
        padding-left: 40px;
    }


    .search {
        min-width: 70%;
    }

    .heading {
        margin: 0;
    }

    .input-search::placeholder {
        font-size: 2.5vh;
    }


    .mainPage {
        height: 150vh;
    }


    .tooltip {
        margin: 0;
    }

    .mainPage {
        height: auto;
    }
}


.mainPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url("./Components/bookimg.jpg");
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}


.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("./Components/bookimg.jpg");
}



.read {
    cursor: pointer;
    color: blue;
}

.heading {
    margin: 0px 0 10px 0;
    padding: 15% 0 0 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 1rem;
    text-align: center;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}




.modal-content {
    /* background-image: linear-gradient(-225deg,
            #3490DE 0%,
            #6639A6 48%,
            #521262 100%); */
    background-image: url("./Components/black-img.jpg");
    /* opacity: 0.91; */
    margin: auto;
    padding: 30px;
    height: auto;
    border: 1px solid #888;
    width: 90%;
    color: #fff;
    line-height: 2rem;
    border-radius: 20px;
}


.close {
    color: #aaaaaa;
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fa.fa-angle-down {
    margin-top: 100px;
    cursor: pointer;
    font-size: 7rem;
    color: #eee;
    width: 100%;
    text-align: center;
}

.fa.fa-shopping-cart {
    color: #000;
    font-size: 1.2rem;
}

.shop-btn {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.shop-a {
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
}

.mod-desc {
    line-height: 1.5rem;
    font-style: italic;
}

.desc {
    font-style: italic;
    line-height: 1.2rem;
}

.cont-head {
    color: #4C0027;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.check-more {
    margin: 15px 10px 10px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    padding: 8px;
    background-image: linear-gradient(#4B7BE5, #001E6C, #112B3C);
    color: #fff;
    cursor: pointer;
}

.bold-name {
    font-size: 1.5rem;
    font-weight: bolder;
}

.p-line {
    color: #420516;
    margin: 0px;
    font-size: 1.2rem;
    padding: 10px 0 10px 0;
}


.modal-content1 {
    display: none;
}

.search {
    max-width: 50%;
    position: relative;
    margin: auto;
}



.input-search {
    margin: 0px;
    background-image: linear-gradient(#FFF6EA, #F7E9D7, #EBD8C3);
    padding: 0 0 0 50px;
    width: 100%;
    outline: none;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.input-search::placeholder {
    color: gray;
    text-align: left;
}

.search-button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 1;
    border: none;
    top: 0px;
    padding: 10px 20px 10px 20px;
    height: 50px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}

.fa.fa-search {
    font-size: 1.5rem;
}

.pages {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.left-side,
.right-side {
    border: none;
    cursor: pointer;
    border-radius: 25%;
    color: purple;
    background-color: none;
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
}

.pages {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("./Components/bookimg.jpg");
    /* background-size: cover; */
}

.dropdown1 {
    cursor: pointer;
    margin-top: 20px;
    color: #000;
    padding: 10px;
    height: 50px;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: #79DAE8;
}

.options {
    font-size: 1.1rem;
    font-weight: bolder;
}



.fil-btn {
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    background-image: linear-gradient(#A85CF9, #5534A5, #4B7BE5);
}



.fil-ip {
    height: 1.5rem;
    border: none;
    max-width: 100%;
    width: auto;
}

.fil-ip::placeholder {
    margin-left: 50px;
    color: #000;
    font-size: 13px;
}

.fil-ip:focus {
    outline: none;
}

/* scrollbar design */

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    border-radius: 100px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(#9A9483, #AAA492, #C7BEA2);
    outline: 1px solid slategrey;
}

.error {
    text-align: center;
    letter-spacing: 1rem;
    font-size: 1.5rem;
}



/* ------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 800px) {

    .left {
        padding: 80px 20px 0px 20px;
    }

    .right {
        padding: 20px;
    }

}

/* ------------------------------------------------------------------------------------------------------------------- */

.dropbtn {
    background-color: #3F72AF;
    color: white;
    border-radius: 5px;
    padding: 14px;
    font-size: 18px;
    border: none;
}

.dropdown {
    position: absolute;
    top: 0;
    border-radius: 5px;
    left: 0px;
    z-index: 1;
    border: none;
    top: 0px;
    height: 45px;
    cursor: pointer;
    color: white;
    transform: translateX(2px);
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #112D4E;
}


.drp-sp {
    background-color: #eee;
    height: auto;
    padding: 10px;
}

.drp-sp:hover {
    background-color: bisque;
}